{{ $areas := .areas }}
{{ if gt (len $areas) 0 }}
    <div class="section-container">
        <section class="section section--short focus-areas">
            <h1 class="heading heading--highlighted heading--centered">Focus Areas</h1>
            <h2 class="heading heading--2 heading--centered">What the workshop is here to talk about</h2>

            <ul class="focus-area-cards focus-areas__list">
                {{ range $index, $area := $areas }}
                    <li class="focus-area-card {{ if eq (mod $index 2) 0 }}focus-area-card--a{{ else }}focus-area-card--b{{ end }}">
                        <div class="focus-area-card__header">
                            <span class="focus-area-card__label">{{ $area.label }}</span>
                        </div>
                        <h2 class="heading heading--2 focus-area-card__heading">{{ $area.heading }}</h2>
                        <p class="focus-area-card__description">{{ $area.description }}</p>
                    </li>
                {{ end }}
            </ul>
        </section>
    </div>
{{ end }}
